/********************************************
 * Project: leaderboard
 * File: apps.css
 * Created: 3/14/23
 * Author: Abdullah Al Mamun <mamun1214@gmail.com>
 ********************************************/
@import "common.css";
@import "toastr";

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  min-width: 650px;
}

main > h1 {
  width: 100%;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 5px;
  color: transparent;
  background: #666;
  -webkit-background-clip: text;
  text-shadow: 0 3px 3px rgba(255, 255, 255, 0.5);
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  border: 1px solid #e3e1e1;
  min-height: 250px;
  border-radius: 5px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.scores {
  width: 50%;
  margin-right: 25px;
  padding: 10px;
}

.score-list {
  border: 1px solid #b8e8b8;
  border-radius: 5px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.score-list > ul {
  list-style: none;
  border-radius: 5px;
}

.score-list > ul > li {
  padding: 10px;
  text-align: left;
}

.score-list li:nth-of-type(odd) {
  background-color: #fdfdfe;
}

.score-list li:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.075);
}

.score-list li:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.score-list li:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.score-list > ul > li:hover {
  background-color: #6c757d;
}

.score-form {
  width: 50%;
  padding: 10px;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin: 15px 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.form {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgreen;
  border-radius: 5px;
  padding: 8px;
  margin-top: 27px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.form > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-end;
}

input {
  border: 1px solid lightgrey;
  border-radius: 3px;
}
